@import 'bootstrap-gridsystem/responsive.less';

* {
	margin: 0;
	padding: 0;
}

html {
	body {
		position: relative;
		.size(100%, 100%);
		header {
			text-align: center;
			h1 {
				padding: 10px 0;
			}
			padding: 10px 0 25px 0;
		}
		#wrapper {
			position: relative;
			width: 100%;
			margin: 30px auto 40px auto;
			#fsb-galery-documentation {
				float: left;
				width: 20%;
			}
			#fsb-galery-wrapper {
				float: left;
				width: 60%;
			}
		}
	}
}