@import url('http://fonts.googleapis.com/css?family=Monda|Montserrat|Strait|Gafata|Galdeano');
* {
  margin: 0;
  padding: 0;
}
html body {
  position: relative;
  width: 100%;
  height: 100%;
}
html body header {
  text-align: center;
}
html body header h1 {
  padding: 10px 0;
}
html body #wrapper {
  position: relative;
  width: 100%;
  margin: 30px auto 40px auto;
}
html body {
  background: #000000;
  color: #f4f7fa;
  font-family: 'Gafata';
}
